*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html{ font-size: 14px; }

html, body {
  height: 100%;
}


body{
  /* NÃO use 100vw — isso quase sempre cria scroll */
  width: 100%;
  min-height: 100dvh;

  font-family: 'Poppins', sans-serif;
  font-size: 0.92rem;

  overflow: hidden; /* <- remove a rolagem do body */
  color: var(--color-dark);
  background-color: var(--color-background);
}

a{
  color: inherit;
  text-decoration: none; /* <- mata underline global */
}
